altgraph==0.17.4
astroid==3.0.1
colorama==0.4.6
dill==0.3.7
isort==5.12.0
mccabe==0.7.0
packaging==23.2
pefile==2023.2.7
platformdirs==4.0.0
psutil==5.9.6
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
pylint==3.0.2
pywin32-ctypes==0.2.2
tomli==2.0.1
tomlkit==0.12.3
typing_extensions==4.8.0
